.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}
.row {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  transition: all 0.5s ease;
}

.background-primary {
  background-color: #0052CC;
}

.background-secondary {
  background-color: #4B82FA;
}

.background-light {
  background-color: #EDF5FF;
}

.logo-dt{
  width: 8.6rem;
  transition: all 0.3s ease;
}
.logo-dt:hover {
  opacity: 75%;
}
@media (min-width: 1200px) {
  .logo-dt{
    width: 10.7rem;
  }
}

.logo-lastmile{
  width: 5rem;
  border-left: 2px solid #fff;
}
@media (min-width: 1200px) {
  .logo-lastmile{
    width: 6.5rem;
  }
}

.h1-text {
  font-size: 1.8rem;
  font-weight: 700;
}

@media (min-width: 992px) {
  .h1-text {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

.header-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: #CBD9ED;
}
@media (min-width: 768px) {
  .header-text {
    line-height: 1.3;
  }
}

.button-header {
  background-color: #F27B42;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
  border: 4px solid #F27B42;
  box-shadow: 1px 1px 6px #132045;
}
.button-header:hover {
  filter: brightness(115%);
}
@media (min-width: 768px) {
  .button-header {
    font-size: 1rem;
  }
}

.p-body {
  font-size: 1.2rem;
  font-weight: 400;
}

.h2-text {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 992px) {
  .h2-text {
    font-size: 2rem;
    font-weight: 700;
  }
}

.w-icon {
  width: 4.1rem;
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 100;
  transition: all 0.3s ease;
}
.w-icon:hover {
  filter: brightness(110%);
  cursor: pointer;
}

.img-tab {
  width: 2.2rem;
}

.tab-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.3;
}

@media (min-width: 992px) {
  .tab-text {
    font-size: 1.5rem;
  }
}

.card-fondo {
  background-color: #fff;
  border-radius: 10px;
}

.card-number {
  font-size: 5.8rem;
  font-weight: 700;
  color: #4B82FA;
}

.card-texto {
  font-size: 1.3rem;
  font-weight: 500;
  color: #525867;
  line-height: 1.3;
}

b {
  color: #132045;
}

.card-foot {
  font-size: 0.85rem;
  font-weight: 500;
  color: #525867;
}

.button-body {
  background-color: #0052CC;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
  border: 4px solid #0052CC;
}
.button-body:hover {
  filter: brightness(120%);
}
@media (min-width: 768px) {
  .button-body {
    font-size: 1rem;
  }
}

.background-card-1 {
  background-image: url('/img/fondo-card1cel.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #F27B42;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .background-card-1 {
    background-image: url('/img/fondo-card1.png'); 
  }
}

.background-card-2 {
  background-image: url('/img/fondo-card2cel.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 2px solid #F27B42;
  border-radius: 10px;
}
@media (min-width: 576px) {
  .background-card-2 {
    background-image: url('/img/fondo-card2.png'); 
  }
}

.card-name {
  font-size: 1.2rem;
  font-weight: 700;
}

.card-roll {
  font-size: 1rem;
  font-weight: 400;
  color: #525867;
}

.card-opinion {
  font-size: 1rem;
  font-weight: 500;
  color: #132045;
}

.eficiencia-text {
  font-size: 1.13rem;
  font-weight: 400;
  color: #525867;
}

.icon-check {
  width: 2.1rem;
}
@media (min-width: 1400px) {
  .icon-check {
    width: 2.3rem;
  }
}

.card-title {
  font-size: 1.4rem;
  font-weight: 700;
}

.card-text {
  font-size: 0.96rem;
}

.rounded-up {
  border-top-right-radius: 20px;
}

.image-card-1 {
  background-image: url('/img/image-card-1.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-card-2 {
  background-image: url('/img/image-card-2.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-card-3 {
  background-image: url('/img/image-card-3.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-card-4 {
  background-image: url('/img/image-card-4.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blue-text {
  color: #0052CC;
}
.blue-text-a {
  color: #0052CC;
}
.blue-text-a:hover {
  color: #4B82FA;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 10s linear infinite;
  -webkit-animation: scroll 10s linear infinite;
  width: calc(200px * 20);
}

.slider .slide {
  width: 40%;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translatex(0);
    -webkit-transform:  translatex(0);
  }
  100% {
    transform: translatex(calc(-200px * 10));
    -webkit-transform:  translatex(calc(-200px * 10));
  }
}

.border-form {
  border-radius: 10px;
}

.footer-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
}

.logo-dt-footer {
  width: 11rem;
  transition: all 0.3s ease;
}
.logo-dt-footer:hover {
  opacity: 75%;
}

@media (min-width: 993px) {
  .logo-dt-footer{
    width: 12rem;
  }
}

.hover-efect:hover {
  color: #132045;
  transition: all 0.5s ease;
}