
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

$nav-link-padding-x: 1.2rem;
$nav-tabs-link-active-bg: #EDF5FF;
$nav-tabs-border-width: 2px;

$body-color: #132045;

$card-border-width: 2px;               
$card-border-radius: 10px;             
$card-border-color: #0052CC;

$form-label-font-size: 1rem;                         
$form-label-font-weight: 700;                
$form-label-color: #132045;



@import "../node_modules/bootstrap/scss/bootstrap";