
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Poppins', sans-serif;

$h1-font-size: 2.6rem;
$headings-font-weight: 600;




@import "../node_modules/bootstrap/scss/bootstrap";